* {
    font-family: "Century Gothic";
}

body {
    background-color: #607ca0;
}

.start-btn-div, .play-again-btn-div{
    margin-top: 50px;
}
.start-btn, .play-again-btn {
    width: 100%;
    height: 60px;
}

.intro-title, .after-game-title {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.hide{
    display: none;
}

.game{
    margin-top: 50px;
}

.word{
    align-content: center;
}

.alphabet-btn{
    margin: 1px;
    width: 40px;
}

.alphabet-div{
    margin-top: 60px;
}

.hangman-image{
    border-radius: 5px;
    background-color: #e39f27;
}